.footer {
  position: relative;
  z-index: 1;
  padding: 0 18.23vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: auto;
}

.links {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.link {
  font-size: calc(0.83vw + 2px);
  color: var(--color1);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  font-weight: 600;
  width: fit-content;
  display: block;
  padding-bottom: 1vw;
}

.link:hover {
  color: var(--color5);
}

@media (max-width: 768px) {
  .footer {
    padding: 0 24px;
    justify-content: center;
  }

  .links {
    gap: 16px;
  }

  .link {
    font-size: 14px;
    padding-bottom: 16px;
  }
}
