.header {
  width: 100%;
  height: 5.21vw;
  background-color: var(--color1);
  z-index: 2;
  position: relative;
}

.container {
  padding: 0 7.81vw;
  height: 100%;
  justify-content: flex-start;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  width: 7.71vw;
  height: auto;
}

@media (max-width: 768px) {
  .header {
    height: 18.6vw;
  }

  .container {
    padding: 0 4.65vw;
  }

  .logo {
    width: 23.49vw;
  }
}
